.background {
    background-image: url("conference.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: auto 0;
    height: 800px;
}

body {
    font: Georgia,"Times New Roman",Times,serif;
    color: #333333;
    padding: 0;
    padding-left: 0;
    padding-top: 0;
    margin: 0;
    background-size: cover;
}

.header {
    background-color: #333333;
    color: rgb(235, 233, 233);
    font-size: 28px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    margin: 10px;
    width: 950px;
    height: 38px;
}

.container {
    background-color: #efeee7;
    padding-top: 0;
    margin: 10px;
    width: 950px;
    height: 175px;
}

h1 {
    color: rgb(235, 233, 233);
    font-size: 28px;
}

h2 {
    font-size: 24px;
    margin: 0 auto;
    color: rgb(52, 7, 175);
    text-align: center;
}

#intro {
    float: left;
    padding-left: 5px;
    margin-right: 30px;
    width: 20%;
    text-align: center;
}  

#main-bio {
    float: left;
    margin-right: 15px;
    margin-top: 0;
    width: 43%;
}  

#contact-info {
    float: left;
    width: 30%;
    line-height: 1.5;
}  

a {
  color: #d21034;  
}

#bio-image {
    float: left;
    margin-right: 20px;
    width: 200px;
}    

    